Package: dpkg-learn
Version: <%= version %>
Architecture: all
Maintainer: Ben Butler-Cole <ben@bridesmere.com>
Description: Demo package to help learning about the Debian packaging system.
Section: misc
Priority: extra
